		@import url(../font/thsarabunnew.css);
		@charset "utf-8";

		body {
			background-image:url(../gui/bg.png);
			background-size:100%;
			background-position:center;
			background-attachment:fixed;
		}

		#hcontent{
			font-family: 'THSarabunNew', sans-serif;
			font-weight:bold;
			font-size: 25px;
			text-align: center;
			color:black;
		}

		#content{
			font-family: 'THSarabunNew', sans-serif;
			font-size: 20px;
			text-indent: 36px;
			color:black;
		}

		.testsubmit{
			cursor: pointer;
			background-image: url(../gui/button/button_submit.png);
			background-position: center;
			width: 250px;
			height: 90px;
			zoom: 0.7;
		}

		iframe{
			border: none;
			float: left;
		}

		#description{
			float: right;
			width: 400px;
		}