#register{
		top: 0px;
		bottom: 0px;
		margin: auto 0;
		width: 80%;
	    z-index: 1;
	    right: 10%;
	    position: fixed;
	    background-color: white;
	    height: 80%;
	}
	#background{
		background-color: rgba(0,0,0,0.5);
		width: 100%;
		position:fixed;
		z-index: 1;
		height: 1000000px;
		top: 0px;
		left: 0px;
		margin-top: 0px;
	}
	#onRe{
		cursor: pointer;
		background-image: url(../gui/input_register.png);
	    position: absolute;
	    height: 30px;
	    width: 100px;
	   	padding: 0;
	    border: none;
	    background-color: rgba(0,0,0,0);
	    top: 191px;
	    right: 41px;
	}
	.text{
	    position: absolute;
	    background-color: rgba(0,0,0,0);
	}
	#User{
		font-family: 'THSarabunNew', sans-serif;
		font-size: 20px;
		right: 37px;
	    top: 88px;
	    width: 185px;
	    height: 30px;
	}
	#Pass{
		font-family: 'THSarabunNew', sans-serif;
		font-size: 20px;
		right: 37px;
	    top: 138px;
	    width: 185px;
	    height: 30px;
	}
	#submitLogin{
		cursor: pointer;
		background-image: url(../gui/input_login.png);
		position: absolute;
		height: 30px;
		width: 100px;
	    padding: 0;
	    border: none;
	    background-color: rgba(0,0,0,0);
	    top: 191px;
	    left: 41px;
	}
	#submitLogout{
		cursor: pointer;
		background-image: url(../gui/input_logout.png);
		position: absolute;
	    width: 100px;
	    padding: 0;
	    border: none;
	    height: 30px;
	    background-color: rgba(0,0,0,0);
	    bottom: 40px;
	    left: 100px;
	}
	#userlogin{
		cursor: pointer;
		font-family: 'THCharmofAU', serif;
		font-size: 44px;
		font-weight: bold;
		text-align: center;
		color: rgb(153,102,51);
	    position: absolute;
	    height: 50px;
	    width: 230px;
	    left: 35px;
	    bottom: 108px;
	}
	#detail {
    width: 80%;
    z-index: 1;
    right: 10%;
    position: fixed;
    background-color: white;
    height: 80%;
	}