#a1{
	top: 3px;
	left: 3px;
}
#a2{
	top: 3px;
	left: 121px;
}
#a3{
	top: 3px;
	left: 241px;
}
#a4{
	top: 3px;
	left: 360px;
}
#a5{
	top: 3px;
	left: 479px;
}
#a6{
	top: 3px;
	left: 598px;
}
#a7{
	top: 3px;
	left: 717px;
}
#a8{
	top: 3px;
	left: 836px;
}
#b1{
	top: 121px;
	left: 3px;
}
#b2{
	top: 121px;
	left: 121px;
}
#b3{
	top: 121px;
	left: 241px;
}
#b4{
	top: 121px;
	left: 360px;
}
#b5{
	top: 121px;
	left: 479px;
}
#b6{
	top: 121px;
	left: 598px;
}
#b7{
	top: 121px;
	left: 717px;
}
#b8{
	top: 121px;
	left: 836px;
}
#c1{
	top: 240px;
	left: 3px;
}
#c2{
	top: 240px;
	left: 121px;
}
#c3{
	top: 240px;
	left: 241px;
}
#c4{
	top: 240px;
	left: 360px;
}
#c5{
	top: 240px;
	left: 479px;
}
#c6{
	top: 240px;
	left: 598px;
}
#c7{
	top: 240px;
	left: 717px;
}
#c8{
	top: 240px;
	left: 836px;
}
#d1{
	top: 359px;
	left: 3px;
}
#d2{
	top: 359px;
	left: 121px;
}
#d3{
	top: 359px;
	left: 241px;
}
#d4{
	top: 359px;
	left: 360px;
}
#d5{
	top: 359px;
	left: 479px;
}
#d6{
	top: 359px;
	left: 598px;
}
#d7{
	top: 359px;
	left: 717px;
}
#d8{
	top: 359px;
	left: 836px;
}
#e1{
	top: 479px;
	left: 3px;
}
#e2{
	top: 479px;
	left: 121px;
}
#e3{
	top: 479px;
	left: 241px;
}
#e4{
	top: 479px;
	left: 360px;
}
#e5{
	top: 479px;
	left: 479px;
}
#e6{
	top: 479px;
	left: 598px;
}
#e7{
	top: 479px;
	left: 717px;
}
#e8{
	top: 479px;
	left: 836px;
}
#f1{
	top: 597px;
	left: 3px;
}
#f2{
	top: 597px;
	left: 121px;
}
#f3{
	top: 597px;
	left: 241px;
}
#f4{
	top: 597px;
	left: 360px;
}
#f5{
	top: 597px;
	left: 479px;
}
#f6{
	top: 597px;
	left: 598px;
}
#f7{
	top: 597px;
	left: 717px;
}
#f8{
	top: 597px;
	left: 836px;
}
#g1{
	top: 716px;
	left: 3px;
}
#g2{
	top: 716px;
	left: 121px;
}
#g3{
	top: 716px;
	left: 241px;
}
#g4{
	top: 716px;
	left: 360px;
}
#g5{
	top: 716px;
	left: 479px;
}
#g6{
	top: 716px;
	left: 598px;
}
#g7{
	top: 716px;
	left: 717px;
}
#g8{
	top: 716px;
	left: 836px;
}
#h1{
	top: 836px;
	left: 3px;
}
#h2{
	top: 836px;
	left: 121px;
}
#h3{
	top: 836px;
	left: 241px;
}
#h4{
	top: 836px;
	left: 360px;
}
#h5{
	top: 836px;
	left: 479px;
}
#h6{
	top: 836px;
	left: 598px;
}
#h7{
	top: 836px;
	left: 717px;
}
#h8{
	top: 836px;
	left: 836px;
}
body{
zoom:0.7;
margin-top: 0px;
margin-left: 0px;
margin-right: 0px;
margin-bottom: 0px;
width: 950px;
height:950px;
}
html{
	width: 950px;
height:950px;
}
img{
position: absolute;
}
.Mark{
	opacity: 0.5;
	background-color: rgba(102,102,102,1);
}
#Pro{
	display: none;
	position: absolute;
	margin-top: 250px;
	margin-left: 250px;
	width: 450px;
	height: 450px;
}
#Pro_Qu{
	position: absolute;
	margin-left: 60px;
	margin-top: 115px;
	opacity: 0;
}
#Pro_Bi{
	position: absolute;
	margin-left: 240px;
	opacity: 0;
	margin-top: 120px;
}

#Pro_Ro{
	position: absolute;
	margin-left: 60px;
	margin-top: 260px;
	opacity: 0;
}
#Pro_Kn{
	position: absolute;
	margin-left: 240px;
	opacity: 0;
	margin-top: 270px;
}
#Block{
	display: none;
	height: 950px;
	width: 950px;
}