
#a1{
	top: 4px;
	left: 4px;
}
#a2{
	top: 4px;
	left: 121px;
}
#a3{
	top: 4px;
	left: 240px;
}
#a4{
	top: 4px;
	left: 358px;
}
#a5{
	top: 4px;
	left: 476px;
}
#a6{
	top: 4px;
	left: 594px;
}
#a7{
	top: 4px;
	left: 712px;
}	
#a8{
	top: 4px;
	left: 830px;
}

#b1{
	top: 121px;
	left: 4px;
}
#b2{
	top: 121px;
	left: 121px;
}
#b3{
	top: 121px;
	left: 240px;
}
#b4{
	top: 121px;
	left: 358px;
}
#b5{
	top: 121px;
	left: 476px;
}
#b6{
	top: 121px;
	left: 594px;
}
#b7{
	top: 121px;
	left: 712px;
}	
#b8{
	top: 121px;
	left: 830px;
}

#c1{
	top: 240px;
	left: 4px;
}
#c2{
	top: 240px;
	left: 121px;
}
#c3{
	top: 240px;
	left: 240px;
}
#c4{
	top: 240px;
	left: 358px;
}
#c5{
	top: 240px;
	left: 476px;
}
#c6{
	top: 240px;
	left: 594px;
}
#c7{
	top: 240px;
	left: 712px;
}
#c8{
	top: 240px;
	left: 830px;
}
#d1{
	top: 358px;
	left: 4px;
}
#d2{
	top: 358px;
	left: 121px;
}
#d3{
	top: 358px;
	left: 240px;
}
#d4{
	top: 358px;
	left: 358px;
}
#d5{
	top: 358px;
	left: 476px;
}
#d6{
	top: 358px;
	left: 594px;
}
#d7{
	top: 358px;
	left: 712px;
}	
#d8{
	top: 358px;
	left: 830px;
}

#e1{
	top: 476px;
	left: 4px;
}
#e2{
	top: 476px;
	left: 121px;
}
#e3{
	top: 476px;
	left: 240px;
}
#e4{
	top: 476px;
	left: 358px;
}
#e5{
	top: 476px;
	left: 476px;
}
#e6{
	top: 476px;
	left: 594px;
}
#e7{
	top: 476px;
	left: 712px;
}
#e8{
	top: 476px;
	left: 830px;
}
#f1{
	top: 594px;
	left: 4px;
}
#f2{
	top: 594px;
	left: 121px;
}
#f3{
	top: 594px;
	left: 240px;
}
#f4{
	top: 594px;
	left: 358px;
}
#f5{
	top: 594px;
	left: 476px;
}
#f6{
	top: 594px;
	left: 594px;
}
#f7{
	top: 594px;
	left: 712px;
}
#f8{
	top: 594px;
	left: 830px;
}
#g1{
	top: 712px;
	left: 4px;
}
#g2{
	top: 712px;
	left: 121px;
}
#g3{
	top: 712px;
	left: 240px;
}
#g4{
	top: 712px;
	left: 358px;
}
#g5{
	top: 712px;
	left: 476px;
}
#g6{
	top: 712px;
	left: 594px;
}
#g7{
	top: 712px;
	left: 712px;
}	
#g8{
	top: 712px;
	left: 830px;
}

#h1{
	top: 830px;
	left: 4px;
}
#h2{
	top: 830px;
	left: 121px;
}
#h3{
	top: 830px;
	left: 240px;
}
#h4{
	top: 830px;
	left: 358px;
}
#h5{
	top: 830px;
	left: 476px;
}
#h6{
	top: 830px;
	left: 594px;
}
#h7{
	top: 830px;
	left: 712px;
}
#h8{
	top: 830px;
	left: 830px;
}		

body{
	zoom:0.7;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px
}
img{
	position: absolute;
}
.Mark{
	opacity: 0.5;
	background-color: rgba(102,102,102,1);
}