body{
	zoom:0.7;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#a1{
	position: absolute;
	left: 70px;
	top:  70px; 
}
#a2{
	position: absolute;
	left: 167px;
	top: 70px;
}
#a3{
	position: absolute;
	left: 264px;
	top: 70px;
}
#a4{
	position: absolute;
	left: 361px;
	top: 70px;
}
#a5{
	position: absolute;
	left: 458px;
	top: 70px;
}
#a6{
	position: absolute;
	left: 555px;
	top: 70px;
}
#a7{
	position: absolute;
	left: 652px;
	top: 70px;
}
#a8{
	position: absolute;
	left: 749px;
	top: 70px;
}
#a9{
	position: absolute;
	left: 846px;
	top: 70px;
}
#b1{
	position: absolute;
	left: 70px;
	top:  164px; 
}
#b2{
	position: absolute;
	left: 167px;
	top: 164px;
}
#b3{
	position: absolute;
	left: 264px;
	top: 164px;
}
#b4{
	position: absolute;
	left: 361px;
	top: 164px;
}
#b5{
	position: absolute;
	left: 458px;
	top: 164px;
}
#b6{
	position: absolute;
	left: 555px;
	top: 164px;
}
#b7{
	position: absolute;
	left: 652px;
	top: 164px;
}
#b8{
	position: absolute;
	left: 749px;
	top: 164px;
}
#b9{
	position: absolute;
	left: 846px;
	top: 164px;
}

#c1{
	position: absolute;
	left: 70px;
	top:  258px; 
}

#c2{
	position: absolute;
	left: 167px;
	top: 258px;
}

#c3{
	position: absolute;
	left: 264px;
	top: 258px;
}

#c4{
	position: absolute;
	left: 361px;
	top: 258px;
}

#c5{
	position: absolute;
	left: 458px;
	top: 258px;
}

#c6{
	position: absolute;
	left: 555px;
	top: 258px;
}

#c7{
	position: absolute;
	left: 652px;
	top: 258px;
}

#c8{
	position: absolute;
	left: 749px;
	top: 258px;
}

#c9{
	position: absolute;
	left: 846px;
	top: 258px;
}

#d1{
	position: absolute;
	left: 70px;
	top:  352px; 
}

#d2{
	position: absolute;
	left: 167px;
	top: 352px;
}

#d3{
	position: absolute;
	left: 264px;
	top: 352px;
}

#d4{
	position: absolute;
	left: 361px;
	top: 352px;
}

#d5{
	position: absolute;
	left: 458px;
	top: 352px;
}

#d6{
	position: absolute;
	left: 555px;
	top: 352px;
}

#d7{
	position: absolute;
	left: 652px;
	top: 352px;
}

#d8{
	position: absolute;
	left: 749px;
	top: 352px;
}

#d9{
	position: absolute;
	left: 846px;
	top: 352px;
}

#e1{
	position: absolute;
	left: 70px;
	top:  446px; 
}

#e2{
	position: absolute;
	left: 167px;
	top: 446px;
}

#e3{
	position: absolute;
	left: 264px;
	top: 446px;
}

#e4{
	position: absolute;
	left: 361px;
	top: 446px;
}

#e5{
	position: absolute;
	left: 458px;
	top: 446px;
}

#e6{
	position: absolute;
	left: 555px;
	top: 446px;
}

#e7{
	position: absolute;
	left: 652px;
	top: 446px;
}

#e8{
	position: absolute;
	left: 749px;
	top: 446px;
}

#e9{
	position: absolute;
	left: 846px;
	top: 446px;
}#f1{
	position: absolute;
	left: 70px;
	top:  540px; 
}

#f2{
	position: absolute;
	left: 167px;
	top: 540px;
}

#f3{
	position: absolute;
	left: 264px;
	top: 540px;
}

#f4{
	position: absolute;
	left: 361px;
	top: 540px;
}

#f5{
	position: absolute;
	left: 458px;
	top: 540px;
}

#f6{
	position: absolute;
	left: 555px;
	top: 540px;
}

#f7{
	position: absolute;
	left: 652px;
	top: 540px;
}

#f8{
	position: absolute;
	left: 749px;
	top: 540px;
}

#f9{
	position: absolute;
	left: 846px;
	top: 540px;
}#g1{
	position: absolute;
	left: 70px;
	top:  634px; 
}

#g2{
	position: absolute;
	left: 167px;
	top: 634px;
}

#g3{
	position: absolute;
	left: 264px;
	top: 634px;
}

#g4{
	position: absolute;
	left: 361px;
	top: 634px;
}

#g5{
	position: absolute;
	left: 458px;
	top: 634px;
}

#g6{
	position: absolute;
	left: 555px;
	top: 634px;
}

#g7{
	position: absolute;
	left: 652px;
	top: 634px;
}

#g8{
	position: absolute;
	left: 749px;
	top: 634px;
}

#g9{
	position: absolute;
	left: 846px;
	top: 634px;
}#h1{
	position: absolute;
	left: 70px;
	top:  728px; 
}

#h2{
	position: absolute;
	left: 167px;
	top: 728px;
}

#h3{
	position: absolute;
	left: 264px;
	top: 728px;
}

#h4{
	position: absolute;
	left: 361px;
	top: 728px;
}

#h5{
	position: absolute;
	left: 458px;
	top: 728px;
}

#h6{
	position: absolute;
	left: 555px;
	top: 728px;
}

#h7{
	position: absolute;
	left: 652px;
	top: 728px;
}

#h8{
	position: absolute;
	left: 749px;
	top: 728px;
}

#h9{
	position: absolute;
	left: 846px;
	top: 728px;
}#i1{
	position: absolute;
	left: 70px;
	top:  822px; 
}

#i2{
	position: absolute;
	left: 167px;
	top: 822px;
}

#i3{
	position: absolute;
	left: 264px;
	top: 822px;
}

#i4{
	position: absolute;
	left: 361px;
	top: 822px;
}

#i5{
	position: absolute;
	left: 458px;
	top: 822px;
}

#i6{
	position: absolute;
	left: 555px;
	top: 822px;
}

#i7{
	position: absolute;
	left: 652px;
	top: 822px;
}

#i8{
	position: absolute;
	left: 749px;
	top: 822px;
}

#i9{
	position: absolute;
	left: 846px;
	top: 822px;
}#j1{
	position: absolute;
	left: 70px;
	top:  916px; 
}

#j2{
	position: absolute;
	left: 167px;
	top: 916px;
}

#j3{
	position: absolute;
	left: 264px;
	top: 916px;
}

#j4{
	position: absolute;
	left: 361px;
	top: 916px;
}

#j5{
	position: absolute;
	left: 458px;
	top: 916px;
}

#j6{
	position: absolute;
	left: 555px;
	top: 916px;
}

#j7{
	position: absolute;
	left: 652px;
	top: 916px;
}

#j8{
	position: absolute;
	left: 749px;
	top: 916px;
}

#j9{
	position: absolute;
	left: 846px;
	top: 916px;
}
